<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Table</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
        .rotated {
            writing-mode: tb-rl;
            transform: rotate(-180deg);
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row mt-5 ">
        <div class="offset-sm-3 col-md-6">
            <h4 class="text-center"><b>dots. Mamedov Qudrat</b></h4>
            <table class="table table-bordered text-center">
                <tbody>
                <tr>
                    <th rowspan="4"><span  class="rotated" style=" margin-top: 60px; ">  Dushanba</span></th>
                    <th>№</th>
                    <th>Fani</th>
                    <th>Guruhi</th>
                    <th>Xona</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Hisob (ma`ruza)</td>
                    <td>911-19</td>
                    <td>312</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Web ilovalar yaratish (amalyot)</td>
                    <td>913-17</td>
                    <td>109 </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Geoaxborot tizimlari (tajriba)</td>
                    <td>951-17</td>
                    <td>107</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>
</body>
</html>