@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(logged: Boolean, requiredData: String)
  @import views.html.main
  @main("TIMETABLE", webJarsUtil) {
    <script src="@routes.Assets.versioned("javascripts/response_bot/weekStudent.js")" type="text/javascript"></script>
    @navbar(logged)
    <script >
            var Glob = {
              requiredData: '@requiredData'
            };
    </script>
    <div class="container-fluid" style="padding-right: 0px" id="hide">
      <div class="text-center">
        <div class="table-wrapper mt-5" style="padding-bottom: 0px;">
          <div id="mydiv" class="table-title">
            <div class="row">
              <div class="col-sm-6 offset-sm-3">
                <h1 class="text-center">REAL TIMETABLE DASHBOARD</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center text-nowrap">
          <table id="capture-border" class="table table-bordered width-table">
            <thead class="table-title">
              <tr data-bind="foreach: {data: vm.weekday(), as: 'weekday'}">
                  <!-- ko if: $index() === 0 -->
                <th class="line">
                  <div class = "text-group">KUN</div>
                  <div class="text-weekday">GURUH</div>
                </th>
                  <!-- /ko -->
                <th data-bind="text: weekday" class=""></th>
              </tr>
            </thead>
              <!-- ko foreach: {data: vm.groups(), as: 'group'} -->
            <tbody>
              <tr>
                <td rowspan="4" width="20" class="outer table-title"> <div class="rotate inner" data-bind="text: group"></div></td>
              </tr>
              <tr data-bind="foreach: {data: $root.vm.weekday(), as: 'weekday'}" class="table-red">
                <td data-bind="foreach: {data: $root.vm.getT($parent, weekday), as: 'timetable'}">
                  <table class="table real table-bordered bg-f">
                    <tr data-bind="if: $parentContext.$index() === 0 " class="outer" >
                      <td rowspan="2" class="outer" width="50">
                        <b class="inner rotate" data-bind="text: timetable.couple"></b>
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="1">
                        <small data-bind="text: timetable.specPart"></small><br>
                        <small data-bind="text: timetable.teachers"></small><br>
                        <small data-bind="text: timetable.numberRoom"></small>
                      </td>
                    </tr>
                  </table>
                </td>

              </tr>
            </tbody>
              <!-- /ko -->
          </table>
        </div>
      </div>
    </div>
  }
