@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(logged: Boolean, requiredData: String)
  @import views.html.main
@main("TIMETABLE", webJarsUtil) {
  <script src="@routes.Assets.versioned("javascripts/response_bot/tomorrowStudent.js")" type="text/javascript"></script>
  @navbar(logged)
  <script >
          var Glob = {
            requiredData: '@requiredData'
          };
  </script>
  <div class="container-fluid">
    <div class="text-center">
      <div class="table-wrapper mt-5" style="padding-bottom: 0px;">
        <div id="mydiv" class="table-title">
          <div class="row">
            <div class="col-sm-6 offset-sm-3">
              <h1 class="text-center">TIMETABLE DASHBOARD</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive text-center row">
        <table id="capture-border" class="table table-bordered width-table col-md-4 offset-md-4">
          <thead class="table-title">
            <tr>
              <th class="line" width="20">
                <div class="text-group gr">GURUH</div>
                <div class="text-weekday" style="">KUN</div>
              </th>
                <!-- ko foreach: {data: vm.groups(), as: 'group'} -->
              <th class="" data-bind="text: group"></th>
                <!-- /ko -->
            </tr>
          </thead>
            <!-- ko foreach: {data: vm.groups(), as: 'group'} -->
          <tbody>
            <tr>
              <td rowspan="2" class="outer table-title" ><div class="rotate inner" data-bind="text: $root.vm.nextDay()"></div></td>
            </tr>
            <tr>
              <td data-bind="foreach: {data: $root.vm.getT(group, $root.vm.nextDay()), as: 'timetable'}">
                <table class="table real table-bordered bg-f">
                  <tr data-bind="if: $parentContext.$index() === 0 ">
                    <td rowspan="2" class="outer" width="50">
                      <b class="inner rotate" data-bind="text: timetable.couple"></b>
                    </td>
                  </tr>
                  <tr>
                    <td rowspan="1">
                      <b data-bind="text: timetable.specPart"></b><br>
                      <b data-bind="text: timetable.teachers"></b><br>
                      <b data-bind="text: timetable.numberRoom"></b>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
            <!-- /ko -->
        </table>
      </div>
    </div>
  </div>
}
