@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(logged: Boolean, requiredData: String)
  @import views.html.main
@main("TIMETABLE", webJarsUtil) {
  <script src="@routes.Assets.versioned("javascripts/response_bot/todayStudent.js")" type="text/javascript"></script>
  @navbar(logged)
  <script >
          var Glob = {
            requiredData: '@requiredData'
          };
  </script>
  <div class="container-fluid">
    <div class="text-center">
      <br><br><br><br><br>
      <h1>Timetable Dashboard</h1>
      <div class="table-responsive text-center row">
        <table id="capture-border" class="table table-bordered col-md-3 offset-md-5 bg-dark text-white real">
          <thead>
            <tr>
              <th class="">Guruh</th>
              <th class="" data-bind="text: vm.thisDay()"></th>
            </tr>
          </thead>
            <!-- ko foreach: {data: vm.groups(), as: 'group'} -->
          <tbody>
            <tr>
              <td rowspan="2" class="outer" ><div class="rotate inner"  data-bind="text: group"></div></td>
            </tr>
            <tr>
              <td>
                <div class="row ml-0 mr-0" data-bind="foreach: {data: $root.vm.getT(group, $root.vm.thisDay()), as: 'timetable'}" >
                  <div class="col-md-12 border-bottom-gray">
                    <div class="row">
                      <div class="col-md-2 pt-4">
                        <small class="inner rotate" data-bind="text: timetable.couple"></small>
                      </div>
                      <div class="col-md-10 h-120p border-left-gray">
                        <small data-bind="text: timetable.specPart"></small> &nbsp;
                        <small data-bind="text: timetable.teachers"></small> &nbsp;<br>
                        <small data-bind="text: timetable.numberRoom"></small>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
            <!-- /ko -->
        </table>
      </div>
    </div>
  </div>
}
