@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(logged: Boolean)
  @import views.html.main
  @main("TIMETABLE | REAL TIMETABLE Dashboard", webJarsUtil) {
    <script src="@routes.Assets.versioned("javascripts/real_timetable.js")" type="text/javascript"></script>
    @navbar(logged)
  <div class="cssload-loader" id="wait"></div>
  <div class="container-fluid" style="padding-right: 0px" id="hide">
      <div class="text-center">
        <div class="table-wrapper mt-5" style="padding-bottom: 0px;">
          <div id="mydiv" class="table-title">
            <div class="row">
              <div class="col-sm-4 offset-sm-4">
                <h1 class="text-center">REAL TIMETABLE DASHBOARD</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive text-center text-nowrap">
          <table id="" class="table table-bordered width-table">
            <thead class="table-title">
              <tr data-bind="foreach: {data: vm.groups(), as: 'group'}">
                  <!-- ko if: $index() === 0 -->
                <th class="w-4" >Guruh</th>
                  <!-- /ko -->
                <td data-bind="text: group" class="w-16"></td>
              </tr>
            </thead>
              <!-- ko foreach: {data: vm.weekday(), as: 'week'} -->
            <tbody>
              <tr>
                <td rowspan="4" class="outer table-title vertical-align-table"> <div class="rotate inner" data-bind="text: week"></div></td>
              </tr>
              <tr data-bind="foreach: {data: $root.vm.groups(), as: 'group'}" class="table-red">
                <td data-bind="foreach: {data: $root.vm.getT(group, $parent), as: 'timetable'}">
                  <table class="table real table-bordered bg-f">
                    <tr data-bind="if: $parentContext.$index() === 0 ">
                      <td rowspan="2" data-bind="text: timetable.couple"></td>
                    </tr>
                      <!-- ko if: timetable.typeOfLesson == "Practice" -->
                    <tr>
                      <td rowspan="1">
                        <small data-bind="text: timetable.specPart"></small><br>
                        <small data-bind="text: timetable.teachers"></small><br>
                        <small data-bind="text: timetable.numberRoom"></small>
                      </td>
                    </tr>
                      <!-- /ko -->
                      <!-- ko if: timetable.typeOfLesson == "Lecture" && timetable.flow -->
                    <tr style="background-color: lightgray;">
                      <td rowspan="1">
                        <small data-bind="text: timetable.specPart"></small><br>
                        <small data-bind="text: timetable.teachers"></small><br>
                        <small data-bind="text: timetable.numberRoom"></small>
                      </td>
                    </tr>
                      <!-- /ko -->
                      <!-- ko if: timetable.typeOfLesson == "Lecture" -->
                    <tr>
                      <td rowspan="1">
                        <small data-bind="text: timetable.specPart"></small><br>
                        <small data-bind="text: timetable.teachers"></small><br>
                        <small data-bind="text: timetable.numberRoom"></small>
                      </td>
                    </tr>
                      <!-- /ko -->

                      <!-- ko if: timetable.typeOfLesson == "Laboratory" -->
                    <tr>
                      <td rowspan="1">
                        <small data-bind="text: timetable.specPart"></small><br>
                          <!-- ko foreach: {data: timetable.specPartJson, as: 'json'} -->
                        <small data-bind="text: json.teacher"></small> &nbsp;
                        <small data-bind="text: json.room"></small><br>
                          <!-- /ko -->
                        @*<small data-bind="text: timetable.numberRoom"></small>*@
                      </td>
                    </tr>
                      <!-- /ko -->
                  </table>
                </td>

              </tr>
            </tbody>
              <!-- /ko -->
          </table>
        </div>
      </div>
    </div>
  }
