<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Hafta kuni</th>
    <th>Juftlik</th>
    <th>951-17</th>
    <th>941-17</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td rowspan="5">Dushanba</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Cyber security</td>
    <td>Tizimli dasturlash</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Ma'lumotlar bazasi xavfsizligi</td>
    <td>Sonli usullar</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Axborot nazaryasi va kodlash</td>
    <td>Fuqorolik jamiyati</td>
  </tr>
  <tr>
    <td>4</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="5">Seshanba</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Cyber security</td>
    <td>Tizimli dasturlash</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Ma'lumotlar bazasi xavfsizligi</td>
    <td>Sonli usullar</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Axborot nazaryasi va kodlash</td>
    <td>Fuqorolik jamiyati</td>
  </tr>
  <tr>
    <td>4</td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
</body>
</html>