@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(logged: Boolean)
  @import views.html.main
@main("TimeTable - Dashboard", webJarsUtil) {
  <script src="@routes.Assets.versioned("javascripts/real_timetable.js")" type="text/javascript"></script>
  @navbar(logged)
  <div class="container-fluid">
    <div class="text-center">
      <br><br><br><br><br>
      <h1>Timetable Dashboard</h1>
      <div class="table-responsive text-center">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="" width="4">Guruh</th>
              <th style="width: 16%;">Dushanba</th>
              <th style="width: 16%;">Seshanba</th>
              <th style="width: 16%;">Chorshanba</th>
              <th style="width: 16%;">Payshanba</th>
              <th style="width: 16%;">Juma</th>
              <th style="width: 16%;">Shanba</th>
            </tr>
          </thead>
            <!-- ko foreach: {data: vm.groups(), as: 'group'} -->
          <tbody>
            <tr>
              <td rowspan="2" ><div class="rotate" data-bind="text: group"></div></td>
            </tr>
            <tr>
              <td>
                @*<ul data-bind="foreach: {data: $root.vm.getT(group, 'Monday'), as: 'timetable'}" style="list-style-type: none;*@
                @*padding-inline-start: 0;" >*@
                @*<li>*@
                @*<div class="border-bottom-gray border-left-gray couple-box">*@
                @*s*@
                @*<small data-bind="text: timetable.specPart"></small> &nbsp;&nbsp;*@
                @*<small data-bind="text: timetable.teachers"></small> &nbsp;&nbsp;*@
                @*<small data-bind="text: timetable.numberRoom"></small>*@
                @*</div>*@
                @*</li>*@
                @*</ul>*@
                <div class="row ml-0 mr-0" data-bind="foreach: {data: $root.vm.getT(group, 'Monday'), as: 'timetable'}" >
                  <div class="col-md-12 border-bottom-gray">
                    <div class="row">
                      <div class="col-md-2 pt-4">
                        <small class="rotated" data-bind="text: timetable.couple"></small> &nbsp;&nbsp;
                      </div>
                      <div class="col-md-10 border-left-gray">
                        <small data-bind="text: timetable.specPart"></small> &nbsp;&nbsp;
                        <small data-bind="text: timetable.teachers"></small> &nbsp;&nbsp;<br>
                        <small data-bind="text: timetable.numberRoom"></small>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div  class="row ml-0 mr-0" data-bind="foreach: {data: $root.vm.getT(group, 'Tuesday'), as: 'timetable'}" style="list-style-type: none;
                  padding-inline-start: 0;" >
                  <div class="col-md-12 border-bottom-gray">
                    <div class="row">
                      <div class="col-md-2 couple-box">
                        <small data-bind="text: timetable.couple"></small> &nbsp;&nbsp;
                      </div>
                      <div class="col-md-10 border-left-gray">
                        <small data-bind="text: timetable.specPart"></small> &nbsp;&nbsp;
                        <small data-bind="text: timetable.teachers"></small> &nbsp;&nbsp;<br>
                        <small data-bind="text: timetable.numberRoom"></small>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="row ml-0 mr-0" data-bind="foreach: {data: $root.vm.getT(group, 'Wednesday'), as: 'timetable'}" style="list-style-type: none;
                  padding-inline-start: 0;" >
                 <div class="col-md-12 border-bottom-gray">
                    <div class="row">
                      <div class="col-md-2 couple-box">
                        <small data-bind="text: timetable.couple"></small> &nbsp;&nbsp;
                      </div>
                      <div class="col-md-10 border-left-gray">
                        <small data-bind="text: timetable.specPart"></small> &nbsp;&nbsp;
                        <small data-bind="text: timetable.teachers"></small> &nbsp;&nbsp;<br>
                        <small data-bind="text: timetable.numberRoom"></small>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="row ml-0 mr-0" data-bind="foreach: {data: $root.vm.getT(group, 'Thursday'), as: 'timetable'}" style="list-style-type: none;
                  padding-inline-start: 0;" >
                  <div class="col-md-12 border-bottom-gray">
                    <div class="row">
                      <div class="col-md-2 couple-box">
                        <small data-bind="text: timetable.couple"></small> &nbsp;&nbsp;
                      </div>
                      <div class="col-md-10 border-left-gray">
                        <small data-bind="text: timetable.specPart"></small> &nbsp;&nbsp;
                        <small data-bind="text: timetable.teachers"></small> &nbsp;&nbsp;<br>
                        <small data-bind="text: timetable.numberRoom"></small>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="row ml-0 mr-0" data-bind="foreach: {data: $root.vm.getT(group, 'Friday'), as: 'timetable'}" style="list-style-type: none;
                  padding-inline-start: 0;" >
                  <div class="col-md-12 border-bottom-gray">
                    <div class="row">
                      <div class="col-md-2 couple-box">
                        <small data-bind="text: timetable.couple"></small> &nbsp;&nbsp;
                      </div>
                      <div class="col-md-10 border-left-gray">
                        <small data-bind="text: timetable.specPart"></small> &nbsp;&nbsp;
                        <small data-bind="text: timetable.teachers"></small> &nbsp;&nbsp;<br>
                        <small data-bind="text: timetable.numberRoom"></small>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="row ml-0 mr-0" data-bind="foreach: {data: $root.vm.getT(group, 'Saturday'), as: 'timetable'}" >
                  <div class="col-md-12 border-bottom-gray">
                    <div class="row">
                      <div class="col-md-2 couple-box">
                        <small data-bind="text: timetable.couple"></small> &nbsp;&nbsp;
                      </div>
                      <div class="col-md-10 border-left-gray">
                        <small data-bind="text: timetable.specPart"></small> &nbsp;&nbsp;
                        <small data-bind="text: timetable.teachers"></small> &nbsp;&nbsp;<br>
                        <small data-bind="text: timetable.numberRoom"></small>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            @*
            <!-- ko foreach: {data: $root.vm.getT(group, 'Tuesday'), as: 'timetable'} -->
            <tr>
            <td data-bind="text: timetable.couple"></td>
            <td data-bind="text: timetable.weekDay"></td>
            <td data-bind="text: timetable.numberRoom"></td>
            </tr>
            <!-- /ko -->
            <!-- ko foreach: {data: $root.vm.getT(group, 'Wednesday'), as: 'timetable'} -->
            <tr>
            <td data-bind="text: timetable.couple"></td>
            <td data-bind="text: timetable.weekDay"></td>
            <td data-bind="text: timetable.numberRoom"></td>
            </tr>
            <!-- /ko -->
            <!-- ko foreach: {data: $root.vm.getT(group, 'Thursday'), as: 'timetable'} -->
            <tr>
            <td data-bind="text: timetable.couple"></td>
            <td data-bind="text: timetable.weekDay"></td>
            <td data-bind="text: timetable.numberRoom"></td>
            </tr>
            <!-- /ko -->
            <!-- ko foreach: {data: $root.vm.getT(group, 'Friday'), as: 'timetable'} -->
            <tr>
            <td data-bind="text: timetable.couple"></td>
            <td data-bind="text: timetable.weekDay"></td>
            <td data-bind="text: timetable.numberRoom"></td>
            </tr>
            <!-- /ko -->
            <!-- ko foreach: {data: $root.vm.getT(group, 'Saturday'), as: 'timetable'} -->
            <tr>
            <td data-bind="text: timetable.couple"></td>
            <td data-bind="text: timetable.weekDay"></td>
            <td data-bind="text: timetable.numberRoom"></td>
            </tr>
            <!-- /ko -->*@
          </tbody>
            <!-- /ko -->
        </table>
      </div>
    </div>
  </div>
}
