@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
  @import views.html.main
@main("TimeTable - Dashboard", webJarsUtil) {
  <script src="@routes.Assets.versioned("javascripts/subject_dashboard.js")" type="text/javascript"></script>
  @navbar()
  <div class="container-fluid">
    <div class="col-md-10 text-center offset-md-1">
      <br><br><br><br><br>
      <h1>Subject Dashboard</h1>
      <div class="table-responsive text-nowrap">
        <table class="table table-hover table-condensed table-bordered">
          <thead style="background: linen;">
            <tr>
              <th><button data-bind="click: vm.sortById" class="btn">№</button></th>
              <th><button data-bind="click: vm.sortByName" class="btn">Name</button></th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="" data-bind="foreach: vm.subjectList">
            <tr>
              <td data-bind="text: $data.id"></td>
              <td data-bind="text: $data.name"></td>
              <td>
                <a class="mr-3" title="Edit" data-toggle="tooltip" href=""><i class="fas fa-pen-alt"></i></a>
                <a title="Delete" data-toggle="tooltip" href=""><i class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
}
