@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(logged: Boolean)
  @import views.html.main
@main("TimeTable", webJarsUtil) {
  <script src="@routes.Assets.versioned("javascripts/subject.js")" type="text/javascript"></script>
  @navbar(logged)
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center offset-md-2 offset-0 col-12">
        <br><br><br><br><br>
        <h1>Create Subject</h1>
        <form class="mt-5">
          <div class="form-group">
            <input type="text" class=form-control placeholder="Subject name..." data-bind="value: vm.name"/>
          </div>
          <button type="submit" class="btn btn-outline-success" data-bind="click: vm.onSubmit">Submit</button>
        </form>
      </div>
    </div>
  </div>
}
