.border-2 {
  border: 2px solid black;
}
.border-bottom-dark {
  border-bottom:2px solid black
}
.border-top-dark {
  border-top:2px solid black
}
.border-left-dark {
  border-left:2px solid black
}
.border-right-dark {
  border-right:2px solid black
}
