body {
  font-family: "Apple Color Emoji";
}

.border-2 {
  border: 2px solid black;
}

.border-bottom-dark {
  border-bottom: 2px solid black
}

.border-bottom-gray {
  border-bottom: 1px solid #dee2e6;
}

.border-left-gray {
  border-left: 1px solid #dee2e6;
}

.border-top-dark {
  border-top: 2px solid black
}

.border-left-dark {
  border-left: 2px solid black
}

.border-right-dark {
  border-right: 2px solid black
}

.word-wrap {
  word-break: break-all;
  /*// word-wrap: break-word;*/
  /*// overflow-wrap: break-word;*/
}

#real td, #real th {
  padding: 0;
}

.rotate {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  margin: auto;
}

.pt-50 {
  padding-top: 50%;
}

.h-120p {
  height: 120px;
}

.outer {
  position: relative;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
}