@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
@import views.html.main
@main("TimeTable", webJarsUtil) {
  <script src="@routes.Assets.versioned("javascripts/subject.js")"></script>
  <div class="container">
    <div class="col-md-8 offset-md-2">
      <br><br><br><br><br>
      <form action="" class="mt-5">
        <div class="form-group">
          <input type="text" id="surname" class=form-control placeholder="type text..."/>
        </div>
        <div class="form-group">
          <input type="text" id="surname" class=form-control placeholder="type text..."/>
        </div>
      </form>
    </div>
  </div>
}
