@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
  @import views.html.main
@main("TimeTable - Map", webJarsUtil) {
  <script src="@routes.Assets.versioned("javascripts/map.js")" type="text/javascript"></script>
  @navbar()
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"><h1>2-qavat</h1></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div id="102" class="col-md-12 border-2 bg-danger border-bottom-0" style="height: 125px; padding-top: 25px; border-top-left-radius: 10px">
                <div class="m-1 text-center">Lingafon xonasi <b>201</b></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-2" style="height: 75px; padding-top: 10px">
                <div class="m-1 text-center">Kanfedra mudiri <b>203</b></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-2 border-top-0" style="height: 90px; padding-top: 20px">
                <div class="m-1 text-center">T va U fanlar kanfedrasi <b>205</b></div>
              </div>
            </div>
            <div class="row">
              <div id="207" class="col-md-12 border-2 border-top-0 bg-danger" style="height: 90px; padding-top: 25px; border-bottom-right-radius: 10px">
                <div class="m-1 text-center">Kamolot <b>207</b></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-left-dark" style="height: 60px;">
                <div class="m-1 text-center">
                  <img src="@routes.Assets.versioned("images/stairs-512.png")" alt="" style="width: 45%" >
                </div>
              </div>
            </div>
            <div class="row">
              <div id="209" class="col-md-12 border-2 bg-danger" style="height: 120px; padding-top: 20px; border-top-right-radius: 10px">
                <div class="text-center">Telekom laboratoriyasi <b>209</b></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-2 border-top-0" style="height: 90px; padding-top: 15px; border-bottom-left-radius: 10px">
                <div class="m-1 text-center">G va I fanlar kanfedrasi <b>210</b></div>
              </div>
            </div>
          </div>
          <div class="col-md-2 border-top-dark border-bottom-dark"></div>
          <div class="col-md-5">
            <div class="row">
              <div id="202" class="col-md-12 bg-danger border-2 border-bottom-0" style="height: 125px; padding-top: 25px; border-top-right-radius: 10px">
                <div class="m-1 text-center">Teleuzatish laboratoriyasi <b>202</b></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-2 border-bottom-0" style="height: 75px; padding-top: 10px">
                <div class="m-1 text-center">ATM markazi <b>204</b></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-2" style="height: 100px; border-bottom-left-radius: 10px"></div>
            </div>
            <div class="row">
              <div class="col-md-12 p-4"></div>
            </div>
            <div class="row">
              <div class="col-md-12 border-2" style="height: 80px; padding-top: 20px; border-top-left-radius: 10px">
                <div class="m-1 text-center">Server xonasi <b>211</b></div>
              </div>
            </div>
            <div class="row">
              <div id="206" class="col-md-12 border-2 bg-danger border-top-0" style="height: 130px; padding-top: 20px">
                <div class="m-1 text-center">Aloqa liniyalari laboratoriyasi <b>206</b></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-2 border-top-0" style="height: 91px; padding-top: 2px; border-bottom-right-radius: 10px">
                <div class="m-1 text-center">G va I fanlar kanfedrasi mudiri <b>208</b></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row" style="margin-top: 200px;">
          <div id="212" class="col-md-5  bg-danger border-2 border-left-0" style="height: 100px; padding-top: 20px; border-bottom-right-radius: 10px">
            <div class="m-1 text-center">Ma'ruza xonasi <b>212</b></div>
          </div>
          <div class="col-md-2 border-top-dark">
            <img src="@routes.Assets.versioned("images/stairs-512.png")" alt="" style="width: 110%; padding-top: 30px" >
          </div>
          <div id="214" class="col-md-5 border-2 bg-danger border-right-0" style="height: 100px; padding-top: 20px; border-bottom-left-radius: 10px">
            <div class="m-1 text-center">Ma'ruza xonasi <b>214</b></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 p-4">
          </div>
        </div>
        <div class="row">
          <div id="213" class="col-md-4 border-2 border-left-0 bg-danger" style="height: 100px; padding-top: 15px">
            <div class="m-1 text-center">Kompyuter sinfi <b>213</b></div>
          </div>
          <div id="215" class="col-md-4 border-2 bg-danger border-right-0 border-left-0" style="height: 100px;">
            <div class="m-1 text-center">Ma'ruza xonasi <b>215A</b></div>
          </div>
          <div id="215" class="col-md-4 border-2 border-right-0 bg-danger" style="height: 100px; padding-top: 15px">
            <div class="m-1 text-center">Kompyuter sinfi <b>215B</b></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12 border-2 border-bottom-0" style="height: 50px; border-top-left-radius: 10px">
                <div class="m-1 text-center">Yurist <b>220</b></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-2 border-bottom-0" style="height: 90px;">
                <div class="m-1 text-center">Direktor qabulxonasi <b>218</b></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-2 border-bottom-0" style="height: 80px; padding-top: 20px  ">
                <div class="m-1 text-center">Direktor</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-2" style="height: 80px; border-bottom-right-radius: 10px"></div>
            </div>
            <div class="row">
              <div class="col-md-12 p-4"></div>
            </div>
            <div class="row">
              <div id="216" class="bg-danger col-md-12 border-2" style="height: 306px; padding-top: 100px; border-top-right-radius: 10px; border-bottom-left-radius: 10px">
                <div class="m-1 text-center">Kompyuter sinfi <b>216</b></div>
              </div>
            </div>
          </div>
          <div class="col-md-2 border-top-dark border-bottom-dark"></div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12 border-2" style="height: 50px; border-top-right-radius: 10px">
                <div class="m-1 text-center">Qabulxona <b>224</b></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-2 border-top-0" style="height: 80px;">
                <div class="m-1 text-center">Direktor o'rinbosari</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-2 border-top-0" style="height: 55px;">
                <div class="m-1 text-center">Ilmiy bo'lim <b>223</b></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-2 border-top-0" style="height: 55px;">
                <div class="m-1 text-center">1-bo'lim <b>222</b></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-2 border-top-0" style="height: 55px;">
                <div class="m-1 text-center">Manitoring bo'limi <b>221</b></div>
              </div>
            </div>
            <div class="row">
              <div id="219" class="col-md-12 bg-danger border-2 border-top-0" style="height: 100px; padding-top:30px; border-bottom-left-radius: 10px">
                <div class="m-1 text-center">Auditoriya <b>219</b></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 border-right-dark" style="height: 60px;">
                <div class="m-1 text-center">
                  <img src="@routes.Assets.versioned("images/stairs-512.png")" alt="" style="width: 45%" >
                </div>
              </div>
            </div>
            <div class="row">
              <div id="217" class="col-md-12 border-2 bg-danger" style="height: 200px;padding-top: 80px; border-bottom-right-radius: 10px; border-top-left-radius: 10px">
                <div class="m-1 text-center">Ma'ruza xonasi <b>217</b></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
}