@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
@import views.html.main
@main("TimeTable - Creates Group", webJarsUtil) {
@navbar()
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center"><h1>2-qavat</h1></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 border border-bottom-0 border-dark" style="height: 125px;">
                            <div class="m-1 text-justify">Lingafon xonasi <b>201</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-dark" style="height: 75px;">
                            <div class="m-1 text-justify">Kanfedra mudiri <b>203</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-dark" style="height: 90px;">
                            <div class="m-1 text-justify">T va U fanlar kanfedrasi <b>205</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-bottom-0 border-dark" style="height: 90px;">
                            <div class="m-1 text-justify">Kamolot</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-dark" style="height: 60px;">
                            <div class="m-1 text-justify">Zina</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-dark" style="height: 120px;">
                            <div class="m-1 text-justify">Telekommunikatsiya laboratoriyasi <b>209</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-dark" style="height: 90px;">
                            <div class="m-1 text-justify">G va I fanlar kanfedrasi <b>210</b></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 border-top border-bottom border-dark"></div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 border border-bottom-0 border-dark" style="height: 125px;">
                            <div class="m-1 text-justify">Teleuzatish laboratoriyasi <b>202</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-bottom-0 border-dark" style="height: 75px;">
                            <div class="m-1 text-justify">ATM markazi <b>204</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-dark" style="height: 100px;"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 p-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-dark" style="height: 80px;">
                            <div class="m-1 text-justify">Server xonasi <b>211</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-dark" style="height: 130px;">
                            <div class="m-1 text-justify">Aloqa liniyalari laboratoriyasi <b>206</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-dark" style="height: 91px;">
                            <div class="m-1 text-justify">G va I fanlar kanfedrasi mudiri <b>208</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" style="margin-top: 200px;">
                <div class="col-md-5 border border-left-0 border-dark" style="height: 100px;">
                    <div class="m-1 text-justify">Ma'ruza xonasi <b>212</b></div>
                </div>
                <div class="col-md-2 border-top border-dark"></div>
                <div class="col-md-5 border border-right-0 border-dark" style="height: 100px;">
                    <div class="m-1 text-justify">Ma'ruza xonasi <b>214</b></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 border border-left-0 border-dark" style="height: 100px;">
                    <div class="m-1 text-justify">Kompyuter sinfi <b>213</b></div>
                </div>
                <div class="col-md-4 border border-right-0 border-left-0 border-dark" style="height: 100px;">
                    <div class="m-1 text-justify">Ma'ruza xonasi <b>215B</b></div>
                </div>
                <div class="col-md-4 border border-right-0 border-dark" style="height: 100px;">
                    <div class="m-1 text-justify">Kompyuter sinfi <b>215B</b></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 border border-bottom-0 border-dark" style="height: 50px;">
                            <div class="m-1 text-justify">Yurist <b>220</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-bottom-0 border-dark" style="height: 60px;">
                            <div class="m-1 text-justify">Direktor qabulxonasi <b>218</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-bottom-0 border-dark" style="height: 90px;">
                            <div class="m-1 text-justify">Direktor</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-dark" style="height: 100px;"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 p-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-dark" style="height: 306px;">
                            <div class="m-1 text-justify">Kompyuter sinfi <b>216</b></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 border-top border-bottom border-dark"></div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 border border-dark" style="height: 50px;">
                            <div class="m-1 text-justify">Qabulxona <b>224</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-dark" style="height: 80px;">
                            <div class="m-1 text-justify">Direktor o'rinbosari</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-dark" style="height: 55px;">
                            <div class="m-1 text-justify">Ilmiy bo'lim <b>223</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-dark" style="height: 55px;">
                            <div class="m-1 text-justify">1-bo'lim <b>222</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-dark" style="height: 55px;">
                            <div class="m-1 text-justify">Manitoring bo'limi <b>221</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-bottom-0 border-dark" style="height: 100px;">
                            <div class="m-1 text-justify">Auditoriya <b>219</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-dark" style="height: 60px;">
                            <div class="m-1 text-justify">Zina</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-dark" style="height: 200px;">
                            <div class="m-1 text-justify">Ma'ruza xonasi <b>217</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
}
