<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center"><h1>1-qavat</h1></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 border border-dark" style="height: 300px;">
                            <div class="m-1 text-justify">Kutibxona va o'quv zali <b>101</b></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 border-top border-dark"></div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 border border-bottom-0 border-dark" style="height: 200px;">
                            <div class="m-1 text-justify">Video kanferensiya zali <b>102</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-dark" style="height: 100px;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-4 border-left border-dark"></div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 border border-bottom-0 border-dark" style="height: 60px;">
                            <div class="m-1 text-justify">Zina</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-bottom-0 border-dark" style="height: 90px;">
                            <div class="m-1 text-justify">ARM direktori <b>103</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-dark" style="height: 150px;">
                            <div class="m-1 text-justify">Axborot-resurs markazi <b>105</b></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 border-bottom border-dark"></div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6 border border-right-0 border-dark" style="height: 150px;">
                            <div class="m-1 text-justify" style="writing-mode: vertical-rl;">Garderob</div>
                        </div>
                        <div class="col-md-6 border border-dark" style="height: 150px;">
                            <div class="m-1 text-justify" style="writing-mode: vertical-rl;">Radiouzel</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-dark" style="height: 150px;">
                            <div class="m-1 text-justify">Ma'naviyat xonasi <b>104</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" style="margin-top: 200px;">
                <div class="col-md-4 border border-left-0 border-dark" style="height: 100px;">
                    <div class="m-1 text-justify">Dasturchilar markazi <b>106</b></div>
                </div>
                <div class="col-md-4 border-top border-dark"></div>
                <div class="col-md-4 border border-right-0 border-dark" style="height: 100px;">
                    <div class="m-1 text-justify">Elektron ta'lim xonasi <b>108</b></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 border border-left-0 border-dark" style="height: 100px;">
                    <div class="m-1 text-justify">Dasturchilar markazi <b>107</b></div>
                </div>
                <div class="col-md-4 border-bottom border-dark"></div>
                <div class="col-md-4 border border-right-0 border-dark" style="height: 100px;">
                    <div class="m-1 text-justify">Kompyuter sinfi <b>109</b></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 border border-bottom-0 border-dark text-justify" style="height: 75px;">
                            <div class="m-1 text-justify">Xotin qizlar qo'mitasi <b>116</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-dark text-justify" style="height: 150px">
                            <div class="m-1 text-justify">Elektronika laboratoriyasi <b>114</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-dark" style="height: 75px"></div>
                    </div>
                </div>
                <div class="col-md-2 border-top border-dark"></div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 border border-bottom-0 border-dark" style="height: 150px">
                            <div class="m-1 text-justify">O'lchash va standartlashtirish laboratoriyasi <b>118</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-bottom-0 border-dark" style="height: 60px;">
                            <div class="m-1 text-justify">Ilmiy kotib <b>117</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-dark" style="height: 90px">
                            <div class="m-1 text-justify">O'quv-uslubiy bo'lim <b>115</b></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-4 border-right border-dark"></div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 border border-bottom-0 border-dark text-justify" style="height: 80px;">
                            <div class="m-1 text-justify">G'azna</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-dark text-justify" style="height: 120px;">
                            <div class="m-1 text-justify">Buxgalteriya <b>112</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-dark text-justify" style="height: 100px;">
                            <div class="m-1 text-justify">Kadrlar bo'limi <b>110</b></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 border-bottom border-dark"></div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 border border-bottom-0 border-dark" style="height: 60px;">
                            <div class="m-1 text-justify">Zina</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-dark text-justify" style="height: 120px;">
                            <div class="m-1 text-justify">Devonxona <b>113</b></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 border border-top-0 border-dark text-justify" style="height: 120px;">
                            <div class="m-1 text-justify">Direktor o'rinbosari <b>111</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
</body>
</html>
